<h3>车辆品牌
   <a ui-sref="app.brands-add()" class="pull-right btn btn-sm btn-info">
      <span class="btn-label"><i class="icon-plus"></i>
      </span>新增</a>
</h3>
<div ng-controller="BrandsController as brands" class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="entity in $data">
                  <td data-title="'品牌名称'">{{entity.name}}</td>
                  <td data-title="'所属制造商'">{{entity.manufacturer.name}}</td>
                  <td data-title="'下属型号'">{{entity.models.length}}</td>
                  <td data-title="'登记日期'">{{entity.created}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>