<h3>客户</h3>
<div ng-controller="ClientsController as clients" class="container-fluid">
   <!-- Export CSV Example-->
   <div class="panel panel-default">
      <div class="panel-heading"><a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>
         <div class="panel-title">客户</div>
      </div>
      <div class="table-responsive">
         <table ng-table="tableParams" export-csv="csv" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="user in $data">
                  <td data-title="'用户名'">{{user.username}}</td>
                  <td data-title="'省'">{{user.region.province}}</td>
                  <td data-title="'城市'">{{user.region.city}}</td>
                  <td data-title="'注册日期'">{{user.created}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>