h3
  | 客户
.container-fluid(ng-controller="ClientsController as clients")
  
  // Export CSV Example
  .panel.panel-default
    .panel-heading
      a.pull-right.btn.btn-sm.btn-info(ng-mousedown='csv.generate()', ng-href='{{ csv.link() }}', download='test.csv') Export to CSV
      .panel-title 客户
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams', export-csv='csv')
        tbody
          tr(ng-repeat='user in $data')
            td(data-title="'用户名'") {{user.username}}
            td(data-title="'省'") {{user.region.province}}
            td(data-title="'城市'") {{user.region.city}}
            td(data-title="'注册日期'") {{user.created}}