h3 
  | {{'dashboard.Dashboard' | translate }}
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START widgets box
.row
  .col-lg-3.col-sm-6
    // START widget
    .panel.widget.bg-primary
      .row.row-table
        .col-xs-4.text-center.bg-primary-dark.pv-lg
          em.icon-user-follow.fa-3x
        .col-xs-8.pv-lg
          .h2.mt0 100
            small 人
          .text-uppercase 新增用户
  .col-lg-3.col-sm-6
    // START widget
    .panel.widget.bg-purple
      .row.row-table
        .col-xs-4.text-center.bg-purple-dark.pv-lg
          em.icon-users.fa-3x
        .col-xs-8.pv-lg
          .h2.mt0 20700
            small 人
          .text-uppercase 累计用户
  .col-lg-3.col-md-6.col-sm-12
    // START widget
    .panel.widget.bg-green
      .row.row-table
        .col-xs-4.text-center.bg-green-dark.pv-lg
          em.fa.fa-bicycle.fa-3x
        .col-xs-8.pv-lg
          .h2.mt0 500
            small 辆
          .text-uppercase 新增车辆
  .col-lg-3.col-md-6.col-sm-12
    // START date widget
    .panel.widget
      .row.row-table
        .col-xs-4.text-center.bg-green.pv-lg
          // See formats: https://docs.angularjs.org/api/ng/filter/date
          now.text-sm(format='MMMM')
          br
          now.h2.mt0(format="d")
        .col-xs-8.pv-lg
          now.text-uppercase(format='EEEE')
          br
          now.h2.mt0(format='h:mm')
          now.text-muted.text-sm(format='a')
    // END date widget
// END widgets box


