h3 
  | 商户管理

#container
  infowindow(ng-show="!!clouddata")

script(type="text/ng-template", id="merchant-popover.html")
  #info
    h3 {{clouddata._name}}
    p 地址：{{clouddata._address}} <br> 电话：{{clouddata.telephone}}
    div(ng-repeat="(key, value) in ability")
      i.mr(ng-class="value?'fa fa-check-circle text-green':'fa fa-times-circle'") 
      | {{key|merchant_ability}}  
    //- .padding
      //- a.btn.btn-block.btn-info.icon-left.icon-navigate(ng-click="navigate()") 导航
      //- a.btn.btn-lg.btn-info.icon-left.icon-telephone(href="tel:{{clouddata.telephone}}") 电话