h3 
  | 品牌统计
  
.container-fluid(ng-controller="StatisticBrandController")
  // START chart
  .row
    .col-lg-12
      #panelChart2.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title 品牌
        .panel-wrapper(collapse="panelChart2")
          .panel-body
            flot(dataset='barData', options='barOptions', height="300px")
  // END chart
  
  // START table
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr(ng-repeat='entity in $data')
            td(data-title="'品牌'") {{entity._id}}
            td(data-title="'新增'") {{entity.count}}
            td(data-title="'新增占比'")  {{ entity.count/total| percentage: 1 }}
            td(data-title="'累计'") {{entity.aggregate}}
            td(data-title="'累计占比'") {{entity.aggregate/aggregateTotal| percentage}}
  // END chart
            